doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href="https://fonts.googleapis.com/css?family=Dosis")
  body

    div.container
      block content

      footer.footer
        p &copy; 2016
          a(href="https://github.com/emersondemetrio/palindrome.js", target="_blank")  @emersondemetrio.
        p
          a(href="https://shawandpartners.com/full-stack-challenge/", target="_blank") Shaw And Partners Full Stack Challenge